<a href="https://colab.research.google.com/github/bouzayeniiheb/Zimnat_Challenge/blob/master/Zimnat_6th_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd
from scipy import stats
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.max_columns', None)

In [0]:
policy_data_path     = r'/content/drive/My Drive/Colab Notebooks/policy_data.csv'
payment_history_path = r'/content/drive/My Drive/Colab Notebooks/payment_history.csv'
client_data_path     = r'/content/drive/My Drive/Colab Notebooks/client_data.csv'
train_path           = r'/content/drive/My Drive/Colab Notebooks/train.csv'
submission_path      = r'/content/drive/My Drive/Colab Notebooks/sample_sub.csv'

In [0]:
policy_df       = pd.read_csv(policy_data_path)
payment_history = pd.read_csv(payment_history_path)
client_data     = pd.read_csv(client_data_path)
train_data      = pd.read_csv(train_path)
submission      = pd.read_csv(submission_path)

In [0]:
client_data.tail()

,Policy ID,NPH_TITLE,NPH_LASTNAME,NPH_SEX,NPH_BIRTHDATE,NAD_ADDRESS1,NAD_ADDRESS2
147457,PID_C7L8CKG,Ms.,NPH_LASTNAME_OSKG3V2,F,2003,ADDRESS1_WSRXQ43,ADDRESS2_AIIHWOT
147458,PID_I9C54DQ,Ms.,NPH_LASTNAME_9PAPKRV,F,2004,ADDRESS1_WSRXQ43,ADDRESS2_AIIHWOT
147459,PID_9EQ2F3M,Mr.,NPH_LASTNAME_VL5361P,M,1980,NaN,NaN
147460,PID_2JWCF1D,Mr.,NaN,M,1941,ADDRESS1_WSRXQ43,ADDRESS2_AIIHWOT
147461,PID_6E5J6RJ,Ms.,NPH_LASTNAME_CGIZZM3,F,2012,ADDRESS1_WSRXQ43,ADDRESS2_AIIHWOT

In [0]:
payment_history.tail()

,Policy ID,AMOUNTPAID,DATEPAID,POSTDATE,PREMIUMDUEDATE
495498,PID_C6XREE9,2579.382206,2017-10-31 00:00:00,2017-03-11 00:00:00,2017-01-10 00:00:00
495499,PID_4EPLKA2,5264.994998,2018-12-12 00:00:00,2018-12-28 00:00:00,2018-01-08 00:00:00
495500,PID_KEJZGXO,0.000000,2017-04-05 00:00:00,2017-04-05 22:00:26,2017-01-04 00:00:00
495501,PID_BCJWAPV,0.000000,2017-04-12 00:00:00,2017-04-12 00:00:00,2017-01-12 00:00:00
495502,PID_Q8X67CV,1182.144329,2018-07-28 00:00:00,2018-07-31 00:00:00,2018-01-07 00:00:00

In [0]:
test_set =train_data.loc[train_data["Lapse"]=="?"]

train_set=train_data.loc[train_data["Lapse"] !="?"]

# Creating train data

In [0]:
first_mrg          = pd.merge(policy_df, train_set, on="Policy ID",how='left')
first_mrg['Lapse'] = first_mrg['Lapse'].replace(np.nan,0)
first_mrg['Lapse'] = first_mrg['Lapse'].replace('1',1)
first_mrg.tail()

,Policy ID,NP2_EFFECTDATE,PPR_PRODCD,NPR_PREMIUM,NPH_LASTNAME,CLF_LIFECD,NSP_SUBPROPOSAL,NPR_SUMASSURED,NLO_TYPE,NLO_AMOUNT,AAG_AGCODE,PCL_LOCATCODE,OCCUPATION,CATEGORY,Lapse,Lapse Year
282810,PID_7P0IXF8,1/5/2017,PPR_PRODCD_KOFUYNN,2109.812579,NPH_LASTNAME_C11UH3D,3,555,74968.903115,NLO_TYPE_DPBHSAH,NaN,AAG_AGCODE_1OCF2N0,PCL_LOCATCODE_SPQHMX5,OCCUPATION_IKCIDKW,CATEGORY_R821UZV,0,NaN
282811,PID_Q1QLPUQ,1/11/2018,PPR_PRODCD_KOFUYNN,346.027849,NPH_LASTNAME_4PA8HYE,2,222,45513.429325,NLO_TYPE_DPBHSAH,NaN,AAG_AGCODE_M4MM4QC,PCL_LOCATCODE_SPQHMX5,OCCUPATION_IKCIDKW,CATEGORY_R821UZV,0,NaN
282812,PID_NEDS3A9,1/7/2017,PPR_PRODCD_KOFUYNN,217.975890,NPH_LASTNAME_XF7JXJN,3,333,45513.429325,NLO_TYPE_DPBHSAH,NaN,AAG_AGCODE_DAP1YRU,PCL_LOCATCODE_0T6GYGX,OCCUPATION_NNHJ7XV,CATEGORY_GWW4FYB,1,2018
282813,PID_U8QKEJK,1/6/2017,PPR_PRODCD_W0F6GK1,5233.874657,NPH_LASTNAME_TE9AFPP,2,222,238857.872515,NLO_TYPE_XAJI0Y6,1075.892081,AAG_AGCODE_L1YVKZO,PCL_LOCATCODE_PEU5TF2,OCCUPATION_IKCIDKW,CATEGORY_R821UZV,0,NaN
282814,PID_5US8QG7,1/9/2019,PPR_PRODCD_W0F6GK1,3990.141182,NPH_LASTNAME_3WBJCBF,1,111,393442.396414,NLO_TYPE_XAJI0Y6,820.226234,AAG_AGCODE_L1YVKZO,PCL_LOCATCODE_PEU5TF2,OCCUPATION_IKCIDKW,CATEGORY_R821UZV,0,NaN

In [0]:
first_mrg['Lapse'].value_counts()

0    225260
1     57555
Name: Lapse, dtype: int64

In [0]:


print('The shape of our train file will be ',first_mrg.shape)

The shape of our train file will be  (282815, 16)

# Creating test data

In [0]:
second_mrg  = pd.merge(test_set,policy_df, on="Policy ID",how='left')
second_mrg  = second_mrg.drop_duplicates(subset='Policy ID')
second_mrg.tail()

,Policy ID,Lapse,Lapse Year,NP2_EFFECTDATE,PPR_PRODCD,NPR_PREMIUM,NPH_LASTNAME,CLF_LIFECD,NSP_SUBPROPOSAL,NPR_SUMASSURED,NLO_TYPE,NLO_AMOUNT,AAG_AGCODE,PCL_LOCATCODE,OCCUPATION,CATEGORY
225238,PID_FSR6DS3,?,?,1/6/2019,PPR_PRODCD_B2KVCE7,191.160414,NPH_LASTNAME_TU0EFBY,3,555,NaN,NLO_TYPE_DPBHSAH,NaN,AAG_AGCODE_218G086,PCL_LOCATCODE_SPQHMX5,OCCUPATION_NNHJ7XV,CATEGORY_GWW4FYB
225252,PID_98JLBWI,?,?,1/6/2019,PPR_PRODCD_OK3TM96,614.308232,NPH_LASTNAME_8B3JSO8,1,111,45513.429325,NLO_TYPE_DPBHSAH,NaN,AAG_AGCODE_BKH543Z,PCL_LOCATCODE_0T6GYGX,OCCUPATION_Y41IBLJ,CATEGORY_GWW4FYB
225254,PID_HM8H99C,?,?,1/10/2017,PPR_PRODCD_64QNIHM,3187.154301,NPH_LASTNAME_XF7JXJN,1,111,86253.370871,NLO_TYPE_XAJI0Y6,537.201791,AAG_AGCODE_9X0IGLA,PCL_LOCATCODE_7VFS3EQ,OCCUPATION_WI64CIY,CATEGORY_GWW4FYB
225256,PID_KQH5U5I,?,?,1/8/2019,PPR_PRODCD_64QNIHM,2795.069380,NPH_LASTNAME_P6QHWZW,1,111,109268.927230,NLO_TYPE_XTHV3A3,609.054794,AAG_AGCODE_GSLG1SX,PCL_LOCATCODE_SPQHMX5,OCCUPATION_WI64CIY,CATEGORY_GWW4FYB
225258,PID_HWFS2BA,?,?,1/6/2018,PPR_PRODCD_64QNIHM,2795.069380,NPH_LASTNAME_W96CGOW,1,111,175645.703656,NLO_TYPE_XTHV3A3,609.054794,AAG_AGCODE_7T62ME4,PCL_LOCATCODE_PI2W0SA,OCCUPATION_NNHJ7XV,CATEGORY_GWW4FYB

# Removing columns from the dataset and preparing our target variable

In [0]:
target_y = first_mrg['Lapse'].values

In [0]:
to_drop_cols = ['Policy ID','Lapse Year','NP2_EFFECTDATE','NPH_LASTNAME','Lapse','NLO_AMOUNT']
first_mrg   = first_mrg.drop(to_drop_cols,axis=1)
second_mrg  = second_mrg.drop(to_drop_cols,axis=1)

In [0]:
first_mrg['NPR_SUMASSURED'].fillna(first_mrg['NPR_SUMASSURED'].mean(), inplace=True)

In [0]:
second_mrg['NPR_SUMASSURED'].fillna(second_mrg['NPR_SUMASSURED'].mean(), inplace=True)

## Extracting categorical features from the data

In [0]:
cate_features_index = np.where(first_mrg.dtypes == object)[0]

In [0]:
x_train = first_mrg.values
x_test  = second_mrg.values
train_y = target_y

## Creating a model to find probability of lapses

In [0]:
pip install catboost

Requirement already satisfied: catboost in /usr/local/lib/python3.6/dist-packages (0.23.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.18.4)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.12.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.0.3)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.2.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)

In [0]:
from catboost import CatBoostClassifier
from sklearn.metrics import log_loss
from sklearn.model_selection import StratifiedKFold

In [0]:
for i in range(1):
    print('iterations ',i)
    n_splits               = 5
    oof_pred               = np.zeros((len(x_train), ))
    skf                    = StratifiedKFold(n_splits=n_splits, shuffle=True, random_state=42)
    y_pred                 = np.zeros((len(x_test), ))
    
    ##########  Performing stratified k fold on the data 
    for fold, (tr_ind, val_ind) in enumerate(skf.split(x_train, train_y)):
    model = CatBoostClassifier(random_state=42,n_estimators=2000,
                               #learning_rate=0.01, l2_leaf_reg=3.5, 
                               #depth=8, rsm=0.98, loss_function= 'Logloss',reg_lambda=None 
                               nan_mode='Max',learning_rate=0.02,depth=4,reg_lambda=150,eval_metric='Logloss',use_best_model=True,
                               silent=True,task_type='GPU')
    
        X_train, X_val     = x_train[tr_ind], x_train[val_ind]
        y_train, y_val     = train_y[tr_ind], train_y[val_ind]
        
        ##### Model fit on the k fold train data and its label
        model.fit(X_train,y_train,cat_features = cate_features_index,eval_set=(X_val,y_val))
        
        ##### Validation done on the validation fold
        val_pred = model.predict_proba(X_val)[:,1]
        
        
        
        ### Validation outcome determined to test the overall AUC of the model
        oof_pred[val_ind]  = val_pred
        
        print('validation logloss fold-',fold+1,': ',log_loss(y_val, val_pred))
        oof_pred[val_ind] = val_pred
        y_pred += model.predict_proba(x_test)[:,1] / (n_splits)
    y_pred_final = y_pred

iterations  0
validation logloss fold- 1 :  0.3980101020483006
validation logloss fold- 2 :  0.39396767623426343
validation logloss fold- 3 :  0.3938134269805739
validation logloss fold- 4 :  0.39600830343737337
validation logloss fold- 5 :  0.39327892648165047

In [0]:
submission_df = pd.DataFrame({'Policy ID':submission['Policy ID'],'Lapse':y_pred_final})
submission_df.to_csv('submission_prob_2000_catboost_iheb_150.csv',index=False)

In [0]:
submission_df.head()

     Policy ID     Lapse
0  PID_4928TWH  0.200017
1  PID_KBLLEGK  0.000757
2  PID_90F0QA3  0.001555
3  PID_18F3NHF  0.033285
4  PID_SX4QUVO  0.249608